# Local .terraform directories
**/.terraform/*

# .tfstate files
**/terraform.tfstate
**/terraform.tfstate.*

# Ignore .terraform.lock.hcl. This is being ignored by own knowledge. 
# However, we need to read more about the significance of this file and if this needs to be ignored from git source control.
**/.terraform.lock.hcl

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# We are ignoring terraform.tfvars in our case as it is the file that holds AWS programmatic keys.
**/terraform.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore SSH key pairs generated for SSH access to servers.
**/*.pub
**/id_rsa

# Ignore file which contains public IP addresses of EC2 instances resulting from local executioner.
**/public_ip.txt

